# *Go My Code Education Management System*

### Go My Code education system is essentially composed of instructors that supervise students and students that follow some courses.

### Let's consider that a person is defined respectively by : 
- A first name
- A last name
- An Id Card Number

## Instructors Management:

#### *Knowing that these informations never change, use a suitable data structure to represent a person* :

In [ ]:
defperson=("first name","last name", "Id card number")

#### *Create now a list that contains 3 instructors* :

In [11]:
li=[["aaaa","aaaa","1111"],["bbbb","bbbb","2222"],["cccc","cccc","3333"]]
print(li)

[['aaaa', 'aaaa', '1111'], ['bbbb', 'bbbb', '2222'], ['cccc', 'cccc', '3333']]

#### *Order the instructors by Last Name (Asc)* :

In [14]:
#def takeSecond(elem):
 #   return elem[1]
li.sort(key=lambda x:x[1], reverse=False)
print(li)

[['aaaa', 'mazen', '1111'], ['bbbb', 'sirine', '2222'], ['cccc', 'yass', '3333']]

#### *Display the instructor that has the shortest Last Name* (Desc) :

In [12]:
li=[["aaaa","mazen","1111"],["bbbb","sirine","2222"],["cccc","yass","3333"]]
li.sort(key=lambda x:len(x[1]), reverse=False)
print(li)

[['cccc', 'yass', '3333'], ['aaaa', 'mazen', '1111'], ['bbbb', 'sirine', '2222']]

## Courses & Students Management:

#### *Courses storage must not contain duplicates. Represent it with the suitable Data Structure (at least 3 courses)* :

In [4]:
courses={1:"Intro to Data Science",2:"Python",3:"Supervized-Machine-Learning"}
print(courses)

{1: 'Intro to Data Science', 2: 'Python', 3: 'Supervized-Machine-Learning'}

#### *Create two students and affect "Intro to Data Science" to their courses sets (from the courses set):*

In [5]:
students={"mazen":courses[1],"sirine":courses[1]}
print(students)

{'mazen': 'Intro to Data Science', 'sirine': 'Intro to Data Science'}

#### *Map Every student to his courses* (Use a data structure to represent the courses management):

In [7]:
print(students["mazen"])

Intro to Data Science

#### *Display the students following "Intro to Data Science" course*:

In [7]:
for k in students:
    if (students[k]=="Intro to Data Science"):
       print(k)

mazen
sirine